/* top-level positioning for the entire menu */
.dropup {
    position: relative;
    display: inline-block;
}

/* styling/placement of menu itself (hide until hovered) */
.dropup-content {
    display: none;
    position: absolute;
    align-self: end;
    background-color: lightgrey;
    min-width: 160px;
    bottom: 35px;
}

/* styling of menu items */
.dropup-content a {
    color: #313338;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    align-items:flex-start;
}

/* change the color more when the button is being hovered */
.dropup-content a:hover {
    background-color: #313338;
    color: lightgrey;
}

/* change the color so a user knows the button has been clicked */
.dropup-content a:active {
    background-color: #42495c;
}

/* display the dropup menu content while the button is being hovered */
.dropup:hover .dropup-content {
    display: block;
    color: #313338;
    background-color: lightgrey;
}

/* button that the dropup is attached to */
.add_btn {
    height: 4vh;
    width: 3vw;
    font-size: 2vh;
    background-color: #313338;
    border-color: lightgrey;
    color: lightgrey;
    border-width: 1pt;
}

/* change the color of the dropup menu button when it is hovered */
.dropup:hover .add_btn {
    color: #313338;
    background-color: lightgrey;
}