body {
    background-color: #313338;
    max-width: 1920px;
    max-height: 1080px;

    width: 100vw; 
    height: 100vw;

}

.container-fluid {
    color: lightgrey;
}
.container-fluid .char_space {
    height: 95vw;
    color: lightgrey; 
    border: 1px; 
    border-color: lightgrey;
    border-style:dashed;
    padding: 10px 5px;
    
}

.container-fluid .bottom_row .char_btn .add_char {
    height: 5vw;
    color: lightgrey;
    border-color: lightgrey;
    border-width: 1pt;
}

.container-fluid .bottom_row .char_btn .add_char:hover {
    color: #313338;
    background-color: lightgrey;
}