{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row char-space">
        <div class="col-xs-3 col-sm-3 char">
            <div class="dropdown">
                <button name="add-char" id="add-char" class="btn add-char" type="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">+</button>    
                <div class=" dropdown-menu dropdown-content" aria-labelledby="add-char">
                    <div class="form-item">
                        <input type="text" class="new-char-data dropdown-item" id="nc-name" placeholder="Name">
                    </div>

                    <div class="form-item">
                        <input type="number" class="new-char-data dropdown-item" id="nc-hp" placeholder="Max HP">
                    </div>

                    <div class="form-item">
                        <input type="number" class="new-char-data dropdown-item" id="nc-weight" placeholder="Carry Weight">
                    </div>

                    <button type="submit" class="submit btn btn-primary dropdown-item">Create Character</button>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}

<!--
    ** wrap all elements in bootstrap collapsible to allow hiding (use .in to make it show by default)
        -> maybe use a panel-group to create a nested collapsible list
    maybe bootstrap panel as parent of character sheet space 
    maybe bootstrap grid to organize whole page
    use bootstrap wells/panels to outline character sheet
    
    use bootstrap table to contain inventory items
    use bootstrap button (probably small) for character addition
        -> nesting bootstrap buttons creates dropdown menus
        -> there is also a bootstrap dropup class

    use bootstrap progress bar for xp tracking

    use bootstrap input for inventory items (maybe?)
    use bootstrap modal to add new items (for now?)

    -->